body {
  background-color: white;
  margin-top: 12%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  z-index: 9999;
}

a:hover {
  border-color: orchid;
  background-color: whitesmoke;
}

.button:hover,
button:hover {
  border-color: orchid;
  background-color: whitesmoke;
}

/* From number validation for 2.2 */
/* div {
  margin-bottom: 10px;
} */

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
  color: orchid;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
  color: #33c3f0;
}

/* For slider info */
#panel,
#flip {
  /* padding: 5px; */
  text-align: left;
  /* background-color: white; */
  /* border: solid 1px whitesmoke; */
}

#panel {
  /* padding: 5px; */
  display: none;
}

/* Get rid of number up/down buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul.checks {
  list-style: none inside; 
}

.checks li::before {
  content: "✓"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #33C3F0; /* Or a color you prefer */
}


.ui-tooltip-content {
  font-size: 80%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}

.diamond {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: x-large !important;
  font-weight: 600 !important;
  line-height: 60% !important;
  color: #33c3f0;
}

/* Bigger than 550 */
/* @media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
} */

/* Bigger than 750 */
/* @media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
} */

/* Bigger than 1000 */
/* @media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
} */