body {
  background-color: white;
  margin-top: 12%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  z-index: 9999;
}

a:hover {
  border-color: orchid;
  background-color: whitesmoke;
}

.button:hover,
button:hover {
  border-color: orchid;
  background-color: whitesmoke;
}

/* From number validation for 2.2 */
/* div {
  margin-bottom: 10px;
} */

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
  color: orchid;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
  color: #33c3f0;
}

/* For slider info */
#panel,
#flip {
  /* padding: 5px; */
  text-align: left;
  /* background-color: white; */
  /* border: solid 1px whitesmoke; */
}

#panel {
  /* padding: 5px; */
  display: none;
}

/* Get rid of number up/down buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
