---
layout: layouts/base.njk
---
    <h1>CNIT 133 Homework</h1>
    <h2>Fall 2021</h2>
    <p>With Maura Devlin-Clancy. <br> A collection of problem solutions by Will Puckett.</p>
<ul>
    <li class="button"><a href="hw2/index.html">Homework 2</a></li>
    <li class="button"><a href="hw3/index.html">Homework 3</a></li>
    <li class="button"><a href="hw4/index.html">Homework 4</a></li>
    <li class="button"><a href="hw5/index.html">Homework 5</a></li>
    <li class="button"><a href="hw6/index.html">Homework 6</a></li>
    <li class="button"><a href="hw7/index.html">Homework 7</a></li>
    <li class="button"><a href="hw8/index.html">Homework 8</a></li>
</ul>
