<footer class="footer">
Content validated by W3C <a href="https://validator.w3.org">Markup Validation Service.</a>
<br> Styled with <a href="https://github.com/dhg/Skeleton">Skeleton: A Dead Simple, Responsive Boilerplate</a>.
</footer>