<footer class="footer">
<a href="https://github.com/willpuckett/cnit133">🔧.</a> |  <a href="https://validator.w3.org/check?uri=referer">HTML</a>  |  <a href="http://jigsaw.w3.org/css-validator/check?uri=referer">CSS</a>
</footer>