<footer class="footer">
<a href="https://github.com/willpuckett/cnit133">🔧.</a> |  <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fhills.ccsf.edu%2F~wpuckett%2Fcnit133%2F">HTML</a>  |  <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fhills.ccsf.edu%2F%7Ewpuckett%2Fcnit133&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">CSS</a>
</footer>