<h2>Homework {{ page.fileSlug | first }}</h2>

  <div class="row">
  {% for part in collections.parts -%}
    {% if part.fileSlug | first == page.fileSlug | first %}
      <div class="three columns button"><a href="{{ part.url }}">Part {{ part.fileSlug | last }}</a></div>
    {% endif %}
  {%- endfor %}
  </div>

  