/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/raleway-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: auto;
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), 
       url('../fonts/raleway-v22-latin-regular.woff') format('woff'); 
  font-display: auto;
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/raleway-v22-latin-600.woff2') format('woff2'),
       url('../fonts/raleway-v22-latin-600.woff') format('woff'); 
  font-display: auto;
}

body {
  background-color: white;
  margin-top: 12%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  color: #33C3F0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  overflow: hidden;
  z-index: 9999;
}

.splash {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  gap: 40px 40px;
}

.splash .button {
  flex-basis: 250px;
  display: block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  line-height: auto;
  white-space: nowrap;
  box-sizing: border-box;
}


input[type=button], input[type=reset], .button {
  color: #33c3f0;
  border: 1px solid #bbb;
  padding: auto;
  background-color: white;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus, a:hover {
  border-color: orchid;
  /* background-color: whitesmoke; */
}

input[type=button]:hover, input[type=reset]:hover, .button:hover,
button:hover {
  color: #1EAEDB;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px groove orchid;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  text-align: center;
  gap: 10px;
}

.button-row .button, .button-row .button-primary, .button-row input[type=button], .button-row input[type=reset], .button-row select {
  flex-grow: 1;
}

input:invalid {
  background-color: #f6dff5;
}
input:valid {
  background-color: #D1f1fb;
}

input[type=tel], input[type=text], input[type=textarea], input[type=number], textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px groove #D1f1fb;
  padding: 0.5em 10px;
  line-height: normal;
}

/* For slider info */
#panel,
#flip {
  text-align: left;

}

#panel {
  display: none;
}

/* Get rid of number up/down buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul.checks {
  list-style: none inside; 
}

.checks li::before {
  content: "✓"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #33C3F0; /* Or a color you prefer */
}

.smoke-back {
  background-color: whitesmoke !important;
}

.ui-tooltip-content {
  font-size: 80%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}

.diamond {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: xx-large !important;
  font-weight: 600 !important;
  line-height: 60% !important;
  color: #33c3f0;
  text-align: center;
}

.column table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
 }

.one-half table {
  width: 90%;
}

/* Smaller than 850px */
@media (max-width: 850px) {
    .one-half table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  .navbar .button {
    display: inline-block;
    height: 38px;
    padding: 0 15px;
    border-radius: 4px;
  }
  .navbar {
    padding-bottom: 7px;
  }
  /* th:first-child,
  td:first-child {
    padding-left: 5%;
    padding-right: 1%;
  } */
}

/* Smaller than 500px  */
@media (max-width: 500px) {
  .full-text { 
    display: none; 
  }
  body {
    margin-top: 22%;
  }
  .parts {
    flex-direction: column;
    gap: 0px;
  }
}
