---
layout: layouts/base.njk
templateClass: tmpl-page
---

{# <script>
var hljs = require('highlight.js');

// If you know the language
//hljs.highlight(lang, code).value;

// Automatic language detection
hljs.highlightAuto(code).value;
</script> #}

<!-- .container is main centered wrapper -->
<div class="container">
        {% include 'partials/nav.njk' %}
</div>

<div class="container">
    {% include "partials/parts.njk" %}
    {{ content | safe }}
</div>

<br>


<script>
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});
</script>