<div id="navbar" class="navbar">
<a href="index.html">⚓️</a>
    {% for chapter in collections.homework -%}
     | <a href="hw{{ chapter.fileSlug }}.html"> HW {{ chapter.fileSlug }}  </a>
    {%- endfor %}
</div>