<h2>Homework {{ page.fileSlug | first }}</h2>

  <div class="parts button-row">
  {% for part in collections.parts -%}
    {% if part.fileSlug | first == page.fileSlug | first -%}
      <a class="button" href="{{ part.url }}">Part {{ part.fileSlug | last }}</a>
    {%- endif %}
  {%- endfor %}
  </div>

  